<?xml version="1.0" encoding="utf-8"?>
<!--connectionString="Server=tcp:nadbookstore.database.windows.net,1433;Initial Catalog=bookstoreFinalized;Persist Security Info=False;User ID=saboi;Password=Conestoga1;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"-->
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="DalConnectString"
         connectionString="Server=tcp:nadbookstore.database.windows.net,1433;Initial Catalog=bookstoreFinalized;Persist Security Info=False;User ID=saboi;Password=Conestoga1;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
         providerName="System.Data.SQLClient"/>
  </connectionStrings>  
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
    <!-- attempt to authenticate-->
    <authentication mode="Forms">
      <forms
       slidingExpiration="true"
       timeout="60"
       />
    </authentication>
    <machineKey
      decryption="AES"
      validation="SHA1"
      decryptionKey="BC6D2FAA84650EE752A96509F52D1C8FF6552E000FBD06DF526992115D616C02"
      validationKey="95C2B48F8E2AD7B4FE3BF3A507B98D5C7C3B3DD7B2FF1567FFFB9F8A07449535"
      />  
    <!-- end of changed code -->
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.5.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.5.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>