body {
}

#LoginSubtitle {
    margin-left: 20px;
}


.flex-container5 {
    display: flex;
    justify-content: center;
    margin-left: 15%;
}

#SelectCollegeLabel {
}

#BrowseLabel {
}

#CollegeDropdownP {
    width: 300px;
}

#resultsListbox {
}

.courseDescriptionText {
    margin-bottom: 4px;
}

.table-border {
    border: 1px solid black;
    margin-right: 5px;
    padding-right: 5px;
}


.nav-row {
    display:flex;
    border: 1px solid black;
    margin-right: 5px;
    padding-right: 5px;
    justify-content: center;
}


.border {
    border: 1px solid black;
    margin-right: 5px;
    padding-right: 5px;
}

.flex-container2 {
    display: flex;
    flex-wrap: nowrap;
    border: 2px solid black;
}

.flex-container-columns {
    display:flex;
    flex-direction: column;
}


.flex-container3 {
    display: flex;
    flex-direction: column;
    border: 3px solid black;
}

#bookImage {
    height: 80px;
    width: 100px;
}

#bookImage2 {
    height: 87px;
    width: 87px;
}

.fieldheight {
    height: 87px;
}